Rag_agent_sanitized.json
{
  "name": "Rag_agent",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -608,
        -224
      ],
      "id": "6e747b0b-5592-4974-b531-b4a0a8ccced2",
      "name": "When clicking ‘Execute workflow’",
      "disabled": true
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_DRIVE_FILE_ID",
          "mode": "list",
          "cachedResultName": "hopscotch_rules_txt.txt",
          "cachedResultUrl": "https://drive.google.com/file/d/YOUR_GOOGLE_DRIVE_FILE_ID/view?usp=drivesdk"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -384,
        -224
      ],
      "id": "dfb7d232-e1f7-4e51-ac5f-3e0c21d1ab0d",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        -144,
        -224
      ],
      "id": "a4ca6fef-3e24-407b-9e1b-ba42b29ab23d",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        -224,
        -16
      ],
      "id": "d61b5039-aa7a-4d64-b2d1-d33bbc49751b",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        0,
        -16
      ],
      "id": "e6c17abe-b587-4fa5-a390-e87e1d2bccab",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are a helpful assistant specialized in the children's game Hopscotch. All information about this game is stored in a vector database accessible through the Supabase Vector Store tool. Whenever a user asks a question, you MUST use that tool to search for the answer before replying.\n\nDetermine whether you found relevant information to answer the question.\nAlways write your response and the question summary in Italian.",
          "enableStreaming": true
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -16,
        304
      ],
      "id": "9f2d5c8a-9521-4070-a68b-9c4afaada95c",
      "name": "AI Agent",
      "retryOnFail": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash-lite",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        -208,
        512
      ],
      "id": "60b0b5c9-fadc-48c9-85c7-7c37f4352967",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.4,
      "position": [
        -48,
        512
      ],
      "id": "23f3199c-5327-46d4-88e9-be4bcd7bed8b",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Use this tool to search for rules of game hopscotch",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "topK": 3,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        -16,
        656
      ],
      "id": "aec37b5f-9889-460b-beab-9950651f13ae",
      "name": "Supabase Vector Store1",
      "credentials": {
        "supabaseApi": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        -144,
        800
      ],
      "id": "13931575-8153-437d-97e5-1aaa0ce89211",
      "name": "Embeddings Google Gemini1",
      "credentials": {
        "googlePalmApi": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "public": true,
        "initialMessages": "Ciao! 👋 Sono Jozu, il tuo assistente virtuale per il gioco di Hopscotch(\"campana\")! \n\nPuoi chiedermi tutto sulle regole, come si gioca, come si vince o le varianti del gioco.\n\nCome posso aiutarti? 🎮",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        -400,
        304
      ],
      "id": "265b639c-ec06-4de1-8c6b-6fcd05bfa363",
      "name": "When chat message received",
      "webhookId": "YOUR_WEBHOOK_ID"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"answered\": true,\n  \"response\": \"Per vincere a campana devi completare l'intero percorso...\",\n  \"user_question_summary\": \"Come si vince a hopscotch\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        160,
        512
      ],
      "id": "57da36fa-84e3-4541-84d4-872d26562da4",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "4076da4c-16fa-4bcb-98b9-89882fe6240b",
              "leftValue": "={{ $json.output.answered }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        400,
        240
      ],
      "id": "c36e624e-a3d2-47cf-8b39-c2bf1056c5da",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "YOUR_AIRTABLE_BASE_ID",
          "mode": "list",
          "cachedResultName": "Rag_db",
          "cachedResultUrl": "https://airtable.com/YOUR_AIRTABLE_BASE_ID"
        },
        "table": {
          "__rl": true,
          "value": "YOUR_AIRTABLE_TABLE_ID",
          "mode": "list",
          "cachedResultName": "Interactions",
          "cachedResultUrl": "https://airtable.com/YOUR_AIRTABLE_BASE_ID/YOUR_AIRTABLE_TABLE_ID"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Answered": "={{ $json.output.answered }}",
            "Session ID": "={{ $('When chat message received').item.json.sessionId }}",
            "Date": "={{ $now }}",
            "Answer": "={{ $json.output.response }}",
            "Question": "={{ $('When chat message received').item.json.chatInput }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Question",
              "displayName": "Question",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Answer",
              "displayName": "Answer",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Answered",
              "displayName": "Answered",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Session ID",
              "displayName": "Session ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.2,
      "position": [
        688,
        32
      ],
      "id": "db907cf0-8c46-4781-a0db-7f43b5e83f12",
      "name": "record_if_response",
      "credentials": {
        "airtableTokenApi": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "YOUR_AIRTABLE_BASE_ID",
          "mode": "list",
          "cachedResultName": "Rag_db",
          "cachedResultUrl": "https://airtable.com/YOUR_AIRTABLE_BASE_ID"
        },
        "table": {
          "__rl": true,
          "value": "YOUR_AIRTABLE_TABLE_ID",
          "mode": "list",
          "cachedResultName": "Interactions",
          "cachedResultUrl": "https://airtable.com/YOUR_AIRTABLE_BASE_ID/YOUR_AIRTABLE_TABLE_ID"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Answered": "={{ $json.output.answered }}",
            "Session ID": "={{ $('When chat message received').item.json.sessionId }}",
            "Date": "={{ $now }}",
            "Answer": "={{ $json.output.response || \"Nessuna risposta trovata nel database\" }}",
            "Question": "={{ $('When chat message received').item.json.chatInput }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Question",
              "displayName": "Question",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Answer",
              "displayName": "Answer",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Answered",
              "displayName": "Answered",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Session ID",
              "displayName": "Session ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.2,
      "position": [
        688,
        224
      ],
      "id": "ec9e787e-600d-4dbf-8a4b-aa0bc5ac5a53",
      "name": "record_if_no_response",
      "credentials": {
        "airtableTokenApi": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "description": "=Domanda dell'utente: {{ $('When chat message received').item.json.chatInput }}\n\nRiassunto: {{ $json.output.user_question_summary }}\n\nSession ID: {{ $('When chat message received').item.json.sessionId }}",
        "jsonParameters": true,
        "additionalFieldsJson": "={\n  \"ticket\": {\n    \"subject\": \"Richiesta non risolta dal bot Hopscotch\",\n    \"comment\": {\n      \"body\": \"Domanda dell'utente: {{ $('When chat message received').item.json.chatInput }}\\n\\nRiassunto: {{ $json.output.user_question_summary }}\\n\\nSession ID: {{ $('When chat message received').item.json.sessionId }}\"\n    },\n    \"requester\": {\n      \"name\": \"Hopscotch Chatbot\",\n      \"email\": \"chatbot-hopscotch@noreply.com\"\n    }\n  }\n}\n"
      },
      "type": "n8n-nodes-base.zendesk",
      "typeVersion": 1,
      "position": [
        688,
        432
      ],
      "id": "1c1d6597-d4b2-4cd6-b146-a95d72006362",
      "name": "Create a ticket",
      "credentials": {
        "zendeskApi": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "Zendesk account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4ba18f4c-4426-4044-a603-5206b650644b",
              "name": "output",
              "value": "={{ $('If').item.json.output.response }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1136,
        32
      ],
      "id": "4e625973-aae3-4069-969d-a0d7c2d9eaed",
      "name": "Rag_response_succes"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c4a0029f-cb03-46ab-9986-ef15c9583ccb",
              "name": "output",
              "value": "={{ $('If').item.json.output.response || \"Mi dispiace, non ho trovato informazioni su questo argomento nel mio database. Ho aperto una richiesta di supporto per te.\" }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1136,
        320
      ],
      "id": "852c65c2-f3d1-4974-a856-02aa561a023b",
      "name": "Rag_response_failed"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        880,
        320
      ],
      "id": "e06f65c0-0b4f-43b2-b8d9-ac37f0dfa9c5",
      "name": "Merge"
    },
    {
      "parameters": {
        "content": "##  0) KNOWLEDGE INGESTION (run once)\n",
        "height": 528,
        "width": 1088,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -720,
        -368
      ],
      "id": "64910110-2052-4bb2-a51e-f9fbec93e5b7",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## 1) INPUT: user message in chat",
        "height": 272,
        "width": 464,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -720,
        208
      ],
      "id": "35d97d98-fde5-4b2e-97dc-690931eb9e3a",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## 2) KNOWLEDGE RETRIEVAL (RAG)",
        "height": 784,
        "width": 496,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -224,
        208
      ],
      "id": "8757bdf1-1b1f-432c-8c8c-1021d84eac5b",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## 3) HANDLING LOGIC",
        "height": 864,
        "width": 544,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        368,
        -32
      ],
      "id": "6825ecfa-d427-4383-80d1-d19b82f14c28",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "## 4)  OUTPUT: RAG RESPONSE",
        "height": 944,
        "width": 416,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1008,
        -64
      ],
      "id": "458f70c7-b7d9-481d-9a2e-7ec15dcd96d6",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "bc43511f-0774-41f8-a806-ea04bf48f0b5",
              "name": "output",
              "value": "Mi scuso, sto avendo un problema tecnico. Per favore riprova più tardi.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1152,
        704
      ],
      "id": "a303d843-fd05-4a60-9c37-86fbc81d27d4",
      "name": "Rag_response_error"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini1": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Rag_response_error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "record_if_response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "record_if_no_response",
            "type": "main",
            "index": 0
          },
          {
            "node": "Create a ticket",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "record_if_no_response": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "record_if_response": {
      "main": [
        [
          {
            "node": "Rag_response_succes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rag_response_succes": {
      "main": [
        []
      ]
    },
    "Create a ticket": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Rag_response_failed": {
      "main": [
        []
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Rag_response_failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "90af89a4-f724-49ae-abf7-a3544e7a19b9",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "YOUR_N8N_INSTANCE_ID"
  },
  "nodeGroups": [],
  "id": "D8wpJatHGDOBB6xa",
  "tags": []
}